<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <!-- Goの html/template は自動でエスケープ処理をするため、-->
    <!-- 文字列を属性に使うときは、不要なクオートでエラーを起こしやすいです。-->
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" >
    <link rel="stylesheet" href="{{ "css/header.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/footer.css" | relURL }}">
    {{ if eq .Section "login" }}
    <link rel="stylesheet" href="{{ "css/loginstyle.css" | relURL }}">
    {{ end }}
    {{ if and (eq .Section "admin") (eq .Kind "section") }}
    <link rel="stylesheet" href="{{ "css/adminstyle.css" | relURL }}">
    {{ end }}
</head>
<body>
    {{ partial "header.html" . }}
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ block "scripts" . }}
        <!-- 共通のベースURL定義 -->
        <script>
            const baseURL = "{{ .Site.BaseURL }}"; 
        </script>
        <script defer src="{{ "js/main.js" | relURL }}"></script>
        <script defer src="{{ "js/setDefaultAccount.js" | relURL }}"></script>
        <script defer src="{{ "js/UserStorage.js" | relURL }}"></script>
        {{ if eq .Layout "admin" }}
        <script defer src="{{ "js/admin.js" | relURL }}"></script>
        {{ end }}
    {{ end }}
</body>
</html>
