<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}css/header.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}css/footer.css" rel="stylesheet">
    {{ if strings.Contains .File.Path "login" }}
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/loginstyle.css"> <!-- loginページ専用CSS -->
    {{ else if strings.Contains .File.Path "admin" }}
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/adminstyle.css"> <!-- adminページ専用CSS -->
    {{ end }}
    <!-- 共通のベースURL定義 -->
    <script>
        const baseURL = "{{ .Site.BaseURL }}";
    </script>
    <script defer src="{{ .Site.BaseURL }}js/main.js"></script>
    <script defer src="{{ .Site.BaseURL }}js/UserStorage.js"></script>
    {{ if strings.Contains .File.Path "admin" }}
    <!-- 管理者ページ専用のスクリプトを読み込む -->
    <script defer src="{{ .Site.BaseURL }}js/admin.js"></script>
    <script defer src="{{ .Site.BaseURL }}js/create-user.js"></script>
    {{ end }}
</head>
<body>
    {{ partial "header.html" . }}
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
</body>
</html>
