<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}css/header.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}css/footer.css" rel="stylesheet">
    {{ if eq .File.BaseFileName "login" }}
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/loginstyle.css"> <!-- loginページ専用CSS -->
    {{ else if eq .File.BaseFileName "admin" }}
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/adminstyle.css"> <!-- adminページ専用CSS -->
    {{ end }}
    <script>
        const baseURL = "{{ .Site.BaseURL }}"; // ベース URL を取得
    </script>
    <script defer src="{{ .Site.BaseURL }}js/main.js"></script>
</head>
<body>
    {{ partial "header.html" . }}
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
</body>
</html>
