{{ define "main" }}
<div class="admin-container">
    <h2>管理者専用ページ</h2>
    <p>ここに管理者用のコンテンツを表示します。</p>
    <div class="stored-strings">
        <h3>投稿された文字列</h3>
        <ul id="storedStringsList"></ul>
    </div>

    <h2>ユーザー管理</h2>
    <!-- タブエリア　-->
    <div id="tabs">
        <!-- タブのリスト -->
        <ul class="tab-list">
            <li class="tab active" data-tab="show-user">ユーザー一覧</li>
            <li class="tab" data-tab="create-user">ユーザー登録</li>
            <li class="tab" data-tab="update-user">ユーザー情報更新</li>
            <li class="tab" data-tab="delete-user">ユーザー削除</li>
        </ul>
        <!-- タブに対応する内容 -->
        <!-- localstrage管理を想定する　-->
        <!-- アカウント一覧 -->
        <div class="tab-content active" id="show-user">
            <h3>ユーザー一覧</h3>
            <iframe id='show-user'
                style="border: none; width: 100%; height: 350px;"
                src="{{ .Site.BaseURL }}iframe/show-user-form.html">
            </iframe>
        </div>
        <!-- 新規登録 -->
        <div class="tab-content" id="create-user">
            <h3>新規登録</h3>
            <iframe id='create-user'
                style="border: none; width: 100%; height: 350px;"
                src="{{ .Site.BaseURL }}iframe/create-user-form.html">
            </iframe>
        </div>
        <!-- 情報更新 -->
        <div class="tab-content" id="update-user">
            <h3>ユーザー情報更新</h3>
            <iframe id='update-user'
                style="border: none; width: 100%; height: 350px;"
                src="{{ .Site.BaseURL }}iframe/update-user-form.html">
            </iframe>
        </div>
        <!-- アカウント削除 -->
        <div class="tab-content" id="delete-user">
            <h3>ユーザー削除</h3>
            <iframe id='delete-user'
                style="border: none; width: 100%; height: 350px;"
                src="{{ .Site.BaseURL }}iframe/delete-user-form.html">
            </iframe>
        </div>
    </div>
</div>
{{ .Content }}
{{ end }}