{{ define "main" }}
<div class="admin-container">
    <h2>管理者専用ページ</h2>
    <p>ここに管理者用のコンテンツを表示します。</p>
    <div class="stored-strings">
        <h3>投稿された文字列</h3>
        <ul id="storedStringsList"></ul>
    </div>

    <h2>ユーザー管理</h2>
    <!-- タブエリア　-->
    <div id="tabs">
        <!-- タブのリスト -->
        <ul class="tab-list">
            <li class="tab active" data-tab="user-show">ユーザー一覧</li>
            <li class="tab" data-tab="user-create">ユーザー登録</li>
            <li class="tab" data-tab="user-update">ユーザー情報更新</li>
            <li class="tab" data-tab="user-delete">ユーザー削除</li>
        </ul>
        <!-- タブに対応する内容 -->
        <!-- localstrage管理を想定する　-->
        <!-- アカウント一覧 -->
        <div class="tab-content active" id="user-show">
            <h3>ユーザー一覧</h3>
            <iframe id='user-show'
                style="border: none; width: 100%; height: 350px;"
                src="{{"iframe/show-user-form.html" | relURL }}">
            </iframe>
        </div>
        <!-- 新規登録 -->
        <div class="tab-content" id="user-create">
            <h3>新規登録</h3>
            <iframe id='user-create'
                style="border: none; width: 100%; height: 350px;"
                src="{{"iframe/create-user-form.html" | relURL }}">
            </iframe>
        </div>
        <!-- 情報更新 -->
        <div class="tab-content" id="user-update">
            <h3>ユーザー情報更新</h3>
            <iframe id='user-update'
                style="border: none; width: 100%; height: 350px;"
                src="{{"iframe/update-user-form.html" | relURL }}">
            </iframe>
        </div>
        <!-- アカウント削除 -->
        <div class="tab-content" id="user-delete">
            <h3>ユーザー削除</h3>
            <iframe id='user-delete'
                style="border: none; width: 100%; height: 350px;"
                src="{{"iframe/delete-user-form.html" | relURL }}">
            </iframe>
        </div>
    </div>
</div>
{{ end }}
{{ define "scripts" }}
    <script defer src="{{ "js/admin.js" | relURL }}"></script>
    <script defer src="{{ "js/user-create.js" | relURL }}"></script>
    <script defer src="{{ "js/user-update.js" | relURL }}"></script>
    <script defer src="{{ "js/user-delete.js" | relURL }}"></script>
{{ end }}
{{ .Content }}
