<header>
    <div class="logo" data-test-id="logo">{{ .Title }}</div>
    <nav>
        <div class="hamburger-menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <ul>
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
            <li><a href="{{ .Site.BaseURL }}/about">About</a></li>
            <li><a href="{{ .Site.BaseURL }}/contact">Contact</a></li>
            <li><a id="auth-menu" href="{{ .Site.BaseURL }}/login">Login</a></li>
            <li><a href="{{ .Site.BaseURL }}/admin" style="display: none;">Admin</a></li>
        </ul>
    </nav>
    </div>
</header>
  