{{ define "main" }}
<article>
  {{ .Content }}
  <!-- 初期画面 -->
  <div data-test-id="login-button" id="login-screen">
    <button id="login-button">ログイン</button>
  </div>
  <form data-test-id="user-area" id="user-area" style="display: none;">
    <textarea id="postInput" placeholder="ここに入力してください..."></textarea><br>
    <button type="submit" id="send-post">送信</button>
  </form>
  <div class="post-list" id="post-list"></div>
</article>
<!-- トップページ専用のスクリプトを読み込む -->
<script defer src="{{ .Site.BaseURL }}js/index.js"></script>
{{ end }}
