<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Params.description }}">
  <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">
  <link href="{{ .Site.BaseURL }}css/header.css" rel="stylesheet">
  <link href="{{ .Site.BaseURL }}css/footer.css" rel="stylesheet">
  <link href="{{ .Site.BaseURL }}css/loginstyle.css" rel="stylesheet">
</head>
<body>
  {{ partial "header.html" . }}
  {{ .Content }}
  <div class="login-container">
    <h2>ログイン</h2>
    <form id="loginForm">
      <label>アカウント種別:</label>
      <div>
        <input type="radio" id="user" name="role" value="user" required>
        <label for="user">一般</label>
      </div>
      <div>
        <input type="radio" id="admin" name="role" value="admin" required>
        <label for="admin">管理者</label>
      </div>
      <button type="submit">ログイン</button>
    </form>
  </div>

  <script>
    document.getElementById('loginForm').addEventListener('submit', function(event) {
      event.preventDefault();
      const role = document.querySelector('input[name="role"]:checked').value;

      // ログイン処理
      console.log('アカウント種別:', role);

      // 認証が成功した場合、キャッシュに保存します
      localStorage.setItem('isLoggedIn', true);
      localStorage.setItem('role', role);

      // ログイン後のリダイレクト
      window.location.href = "{{ .Site.BaseURL }}";
    });
  </script>
  {{ partial "footer.html" . }}
</body>
</html>