<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Params.description }}">
  <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">
  <link href="{{ .Site.BaseURL }}css/header.css" rel="stylesheet">
  <link href="{{ .Site.BaseURL }}css/footer.css" rel="stylesheet">
  <link href="{{ .Site.BaseURL }}css/loginstyle.css" rel="stylesheet">
</head>
<body>
  {{ partial "header.html" . }}
  {{ .Content }}
  <div class="login-container">
    <h2>ログイン</h2>
    <form id="loginForm">
      <label>アカウント種別:</label>
      <div id="role-radio">
        <input type="radio" id="user" name="role" value="user" required>
        <label for="user">一般</label>
      </div>
      <div id="role-radio">
        <input type="radio" id="admin" name="role" value="admin" required>
        <label for="admin">管理者</label>
      </div><br>
      <div id="login-input-form">
        <label for="username">ユーザー名:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">ログイン</button>
    </form>
  </div>

  <script>
    document.getElementById("loginForm").addEventListener("submit", async (event) => {
      event.preventDefault();
      const username = document.getElementById("username").value;
      const password = document.getElementById("password").value;

      const response = await fetch("/login", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ username, password }),
      });

      if (response.ok) {
          const data = await response.json();
          localStorage.setItem("user", JSON.stringify(data.user));
          window.location.href = `{{ .Site.BaseURL }}`;
      } else {
          alert("ログインに失敗しました");
      }
    });
  </script>
  {{ partial "footer.html" . }}
</body>
</html>